/*
 * BODY
 */
body {
    margin: 0;
    padding : 0px;
    padding-top: 24px;
    padding-bottom: 70px;
    font-family: 'Assistant', sans-serif;
}

.bodyContent {
    margin: 50px
}

/*
 * HOME PAGE
 */
.home-page {
    background-color: #40404b;
    color: #FF6600;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.home-content {
    text-align: center;
    padding-top: 250px;
}

.home-content > h1 {
    font-family: 'Bungee Outline', cursive;
    font-size: 47px;
    margin-top: 6px;
    padding-bottom: 37px;
}

#team-name {
    font-family: 'Jura', sans-serif;
    font-size: 17px;
}

/*
 * NAVBAR
 */
#nav-logo {
    padding: 9px 15px;
}

.nav-pills.custom>li>a {
    position: relative;
    color: #7c7c7c;
    background-color: transparent;
    font-size: 14px
}

.nav-pills.custom>li>a:hover {
    color: #c8c8c8;
}

.nav-pills.custom>li.active>a, .nav-pills.custom>li.active>a:focus, .nav-pills.custom>li.active>a:hover {
    color: #3d3d3d;
    background-color: transparent;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #FF6600;
}

/*
 * TABLE
 */
.custom-table {
    font-family: monospace;
}

/*
 * BUTTONS
 */
.buttons-group {
    float: right
}

.form-button {
    background-color: #FF6600;
    color: whitesmoke;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    margin-left: 5px;
}

.form-button-group {
    text-align: right;
}

.naked-button {
    border: none;
    background-color: transparent;
    color: #FF6600;
}

.modal-button {
    background-color: whitesmoke;
    border-color: #c8c8c8;
    border-radius: 0px;
    color: #FF6600;
    font-size: 16px;
}

.primary-button {
    border: none;
    background-color: #FF6600;
    color: whitesmoke;
}

.login-button {
    background-color: transparent;
    border-color: #24C60D;
    border-radius: 0px;
    color: #24C60D;
    font-size: 16px;
}

/*
 * FORM
 */
.drop-down-list {
    clear: right;
}

.radio-form {
    clear: right;
}

.growing-field {
    /*background-color: aliceblue;*/
    background-color: #ecf8ec;
    padding: 20px 10px 10px 10px;
    margin: 10px
}

/*
 * EXPAND COMPONENT
 */
.expand-component td {
    padding: 10px;
    border: none;
}

.expand-component-label {
    font-weight: bold;
    text-align: right;
}

/*
 * ERROR
 */
.error-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 0px;
    color: red;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    text-align: left;
}